<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }}  {{ end }}
    {{ if eq .Site.Params.From (now.Format "2006") }}
        {{ .Site.Params.From }}
    {{ else }}
        {{ .Site.Params.From }}-{{ now.Format "2006" }}
    {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>

  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

<div>
    <!-- MailerLite Universal -->
  <script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '435970');
  </script>
  <!-- End MailerLite Universal -->
  <style>
    .ml-onclick-form {
      position: fixed;
      right: 20px;
      bottom: 90px;
      color:white;
      background-color: rgb(68, 48, 22)
    }
  </style>
  <button class="ml-onclick-form" onclick="ml('show', 'JLP0Qw', true)">Subscribe</button>
</div>
</footer>
